aniso8601==8.1.1
autopep8==1.5.4
click==7.1.2
Cython==0.29.14
Flask==1.1.2
Flask-RESTful==0.3.8
gensim==3.8.3
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.0
MarkupSafe==1.1.1
nltk==3.5
numpy==1.20.0
pandas==1.2.1
pycodestyle==2.6.0
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
regex==2020.11.13
scikit-learn==0.24.1
scipy==1.6.0
six==1.15.0
smart-open==4.1.2
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.56.0
Werkzeug==1.0.1
